<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
  <script>
    // CORS workaround
    document.addEventListener("htmx:configRequest", (evt) => {
      evt.detail.headers = [];
    });
  </script>
  <title>Whisper Magic Chat</title>
</head>

<body class="bg-gradient-to-r from-blue-600 via-purple-600 to-pink-600 font-sans">

  <header class="bg-opacity-90 backdrop-filter backdrop-blur-lg py-6">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-extrabold">Whisper Magic Chat</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="/" class="hover:text-gray-300">Home</a></li>
          <li><a href="#features" class="hover:text-gray-300">Features</a></li>
          <li><a href="/docs" class="hover:text-gray-300">Docs</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="transcribe" class="bg-gray-100 py-16" hx-ext="client-side-templates">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl lg:text-4xl font-semibold mb-6 text-gray-800">Whisper Magic Chat</h2>
      <p class="text-lg lg:text-xl text-gray-700 mb-6">Upload an audio file to transcribe and experience the magic of
        Whisper.</p>

      <form hx-post="/transcribe" hx-trigger="submit" hx-swap="outerHTML" enctype="multipart/form-data"
        class="flex justify-center items-center space-x-4" nunjucks-template="chat"  _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
        <input type="file" name="files" class="p-2 border border-gray-300 rounded">
        <button type="submit"
          class="bg-blue-500 text-white px-8 py-3 rounded-full hover:bg-blue-700 transition duration-300">Transcribe</button>
          <progress id='progress' value='0' max='100'></progress>
        <!-- HTMX and Nunjucks templates -->
        <template id="chat">
          <!-- totalItems -->
          {% if results == 1 %}
          <i> Found {{ results.length }} articles.</i>
          {% endif %}
          <!-- items -->
          {% for chat in results %}
          <a href="#">
            <div class="transcription-container">
              <div class="transcription-header">
                <div class="w-10 rounded-full">
                  <img alt="Whisper Magic transcription icon"
                    src="https://api.dicebear.com/7.x/adventurer/svg?seed={{ chat.filename }}">
                </div>
                <div class="transcription-details">
                  <span class="transcription-author">Someone</span>
                  <time class="text-xs opacity-50">{{ chat.filename | truncate(10, true, "")}}</time>
                </div>
              </div>
              <div class="transcription-body">{{ chat.transcript }}</div>
              <div class="transcription-footer">
                <a href="#" target="_blank">
                  retry
                </a>
              </div>
            </div>
          </a>
          {% endfor %}
        </template>
      </form>
    </div>
  </section>

  <footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Whisper Magic. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>
